<md-dialog aria-label="Edit">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edytuj książkę</h2>
        <span flex></span>
          <md-button class="md-icon-button" ng-click="edit.cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="row">
      <div layout="column"  flex="50" layout-padding layout-wrap layout-fill style="padding-bottom: 32px; padding-top: 32px" ng-cloak>
       <md-whiteframe class="md-whiteframe-5dp" flex-sm="17" flex-gt-sm="17" flex-gt-md="17" layout layout-align="center center">
    <label>Tytuł: <strong ng-bind="edit.book.title"></strong></label>
  </md-whiteframe>
       <md-whiteframe class="md-whiteframe-5dp" flex-sm="17" flex-gt-sm="17" flex-gt-md="17" layout layout-align="center center">      
         <label>Autor: <strong ng-bind="edit.book.author"></strong></label>
  </md-whiteframe>
       <md-whiteframe class="md-whiteframe-5dp" flex-sm="17" flex-gt-sm="17" flex-gt-md="17" layout layout-align="center center">      
         <label>ISBN: <strong ng-bind="edit.book.ISBN"></strong></label>
  </md-whiteframe>
       <md-whiteframe class="md-whiteframe-5dp" flex-sm="17" flex-gt-sm="17" flex-gt-md="17" layout layout-align="center center">      
         <label>Cena: <strong ng-bind="edit.book.price"></strong></label>
  </md-whiteframe>
       <md-whiteframe class="md-whiteframe-5dp" flex-sm="17" flex-gt-sm="17" flex-gt-md="17" layout layout-align="center center">      
         <label>Typ nośnika: <strong ng-bind="edit.book.storageType"></strong></label>
  </md-whiteframe>
       <md-whiteframe class="md-whiteframe-5dp" flex-sm="17" flex-gt-sm="17" flex-gt-md="17" layout layout-align="center center">      
         <label>Typ okładki: <strong ng-bind="edit.book.coverType"></strong></label>
  </md-whiteframe>
      </div>
      <div layout="column" flex="50" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
        <img class="cover" ng-src="{{edit.book.cover}}" class="md-card-image" alt="image caption" >
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">

      <span flex></span>

      <md-button ng-click="edit.cancel()" style="margin-right:17px;" >
        Wyjdź
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>