<md-content layout="row" layout-sm="column" layout-align="space-around center" ng-if="home.$rootScope.loading" class="indicator">
    <md-progress-circular  md-mode="indeterminate" md-diameter="96"></md-progress-circular>
</md-content>

<md-content ng-if="!home.$rootScope.loading" class="md-padding" layout-xs="column" layout-wrap layout="row" ng-cloak>
    <div flex-xs="100" flex-sm="50" flex-md="33" layout="column" flex="25" ng-repeat="book in home.books">
        <md-card md-theme="default" >
            <md-card-title layout="column" layout-align="space-between">
                <md-card-title-text>
                    <span class="md-headline no-wrap-text" ng-bind="book.title"></span>
                    <span class="md-subhead" ng-bind="book.author">Large</span>
                    <md-divider></md-divider>
                </md-card-title-text>
                <md-card-title-media layout="row" layout-align="center center">
                    <img class="cover" ng-src="{{book.cover}}" class="md-card-image" alt="image caption" >
                </md-card-title-media>
                <md-divider></md-divider>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="home.bookDetails($event, book)"><span ng-init="name='details'" ng-bind="home.translate([name])"></md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>