<md-content class="md-padding" >
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
      <md-tab ng-repeat="tab in manage.tabs"
              ng-click="manage.getData(tab.category)"
              ng-disabled="tab.disabled"
              label="{{tab.name}}">
        <div class="" style="padding: 25px; text-align: center;">
            <div ng-repeat="item in manage.data">
                <h1 ng-bind="item"></h1>
            </div>
          <data-ui-view={{tab.category}}></ui-view>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>