<md-header layout="row" ng-mouseleave="hr.visible=true">
    <h1>Księgarnia</h1>
    <md-label ng-mouseover="hr.visible=false"><img style="margin:10px 10px 10px 10px; width:50px; height:50px;" src="C:\Users\Admin\projekt-billennium-angular\src\app\img\book-icon.png"></md-label>
    <div style="width:50%; height:100%">
    <div ng-hide="hr.visible">
        <md-button ui-sref="home" style="height:100%">STRONA GŁÓWNA</md-button>
        <md-button ui-sref="manage" style="height:100%">ZARZĄDZANIE ELEMENTAMI</md-button>
        <md-button style="height:100%">KONFIGURACJA SYSTEMU</md-button>
    </div>
    <label style="color:white" ng-bind="hr.tekst"/>
    </div>
</md-header>