html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

md-header{
    background-color: black;
    width:100%;
    color: whitesmoke;
}


md-footer{
    background-color: black;
    width:100%;
    color:whitesmoke;
    font-size: 24px;
    text-align:right;
    position:absolute;
    bottom:0;

}
md-sidenav{
    min-height: 100%;
}
md-list-item > button{
    width: 100%;
    text-align: left !important;
}

md-body{
    height: 100%;
    width: 100%;
}