.cover {
    width:275px; 
    height:330px; 
    margin-top:32px;
    margin-bottom:32px;
}

.no-wrap-text{
    height:200%;
    white-space: nowrap;
    overflow: hidden;
}

.no-wrap-text:hover{
    text-overflow: clip;
    white-space: normal;
}